/* Zethu Television Structural Layout and Presentation
  By Samson Phiri */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
/* General Styles */
body {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer {
    display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Top header Structural Layout and design */

.head {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
}

.black {
  background-color: #000;
  color: #d0dede;
}

h4, figcaption {
    display: inline;
    text-transform: capitalize; 
    padding: 0;
}

.right_align {
    position: relative;
    left: 60%;
}
.right_align span { padding: 0 5px;}

/* Bottom Header Styles Category */

.sub_head {
  color: #fff;
  background-color: #a50bfd;
  padding: 15px 0;
  justify-content: center;
}

.sub_head div {
  padding: 0 25px;
}

.sub_head h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.dropdwn {
  display: none;
}
.services {
  list-style: none;
  text-transform: uppercase;
}

.services li {
  display: inline;
  padding: 0 7px;
}

.float_right {
  position: relative;
  float: right;
  font-size: 18px;
}

.services li:hover {
  border-bottom: 2px solid #fff;
}

/* footer layout */

footer {
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
}

.inline {
  display: inline;
  padding: 30px;
}

/* Mobile View */

@media screen and (max-width: 480px) {
  
  .headline {
    display: none;
  }
  
  .sub_head {
    padding: 0;
  }
  
  .sub_head div {
    padding: 10px 30px;
  }
  
  .sub_head h2 {
    letter-spacing: 2px;
    font-size: 14px;
  }
  
  .services {
    display: none;
    position: absolute;
    bottom: 90%;
    left: 10%;
    background-color: rgba(40, 40, 40, 0.7);
    z-index: 2;
  }
  
  .dropdwn {
    display: block;
    padding: 5px;
    border: 1px solid #fff;
  }
  .services li {
    font-size: 16px;
  }
  
 /* .services li:first-child {
    display: none;
  }*/
  
  /* Dropdown Effects */
/*  .dropdwn:hover {
    background-color: #50a0ef;
  }*/
  
  .drop:hover .dropdwn {
    display: none;
  }
  
  .drop:hover .services  {
    display: block;
  }
  .services li:hover {
    background-color: #50a0ef;
  }
}